<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EShop</title>

    <!-- Bootstrap -->
    {% block stylesheets %}
       <link href="{{ asset('bundles/australopithecusmenu/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
         <div class="container-fluid">
             <div class="navbar-header">
                  <a class="navbar-brand" href="#">EShop</a>
             </div>
             <div >
               <ul class="nav navbar-nav">
                  {% for entity in menuEntities %}
                    <li><a href="{{entity.link}}">{{ entity.name }}</a></li>
                  {% endfor %}         
                </ul>
             </div>
         </div>
    </nav>
    <table>
        {% for entity in productEntities %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                  {% for picture in entity.pictures %}
                    {{ picture.path }}
                  {% endfor %}
                </td>
                <td>
                  <ul>
                    <li>
                        <a href="{{ path('product_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('product_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                  </ul>
                </td>
            </tr>
        {% endfor %}
     </table>
  </body>
</html>
